@use "../../_var.scss" as var;

.review-card-container {
    display: flex;
    flex-flow: column;
    width: 413px;
    box-sizing: border-box;
    border-radius: var.$bradius;
    box-shadow: var.$box-shadow;
    font-family: "Montserrat", sans-serif;
    margin-top: 75px;
    & > div:first-child {
        flex-grow: 1;
        padding: 24px;
    }
}

.review-card-descript{
    margin-top: 23px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    p {
        font-size: 16;
        font-family: "Montserrat", sans-serif;
    }
}

.title-text-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 16px;
    
    & > * {
        margin: 0;
        display: inline-block;
        height: 71px;

        &:last-child {
            flex-grow: 1;
            padding-left: 10px;
        }
    }

    p {
        margin: 0;
        height: 100%;
        font-family: "Manrope", sans-serif;
        font-size: 80px;
        line-height: 71px;
        font-weight: bold;
    }

    h2 {
        display: inline;
        margin: 0;
        height: 100%;
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: #000000;
    }
}

.review-card-info{
    background-color: #DDDDDD;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 14px 21px;

    .first {
        & > p:first-child {
            margin: 0;
            color: #057ACE;
            font-size: 16px;
            line-height: 34px;
            font-family: "Manrope", sans-serif;
            font-weight: 700;
        }

        .secondT{
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            .authorInfo{
                p, a {
                    margin: 0;
                    font-family: "Manrope", sans-serif;
                    font-size: 20;
                    color: #000000;
                    font-style: bold;
                    text-decoration: none;
                }

            }

            .topC {
                display: inline-block;
                margin-left: 16px;
                flex-grow: 1;

                svg {
                    display: inline-block;
                    margin: 0;
                    margin-right: 4px;
                }

                p {
                    display: inline-block;
                    margin: 0;
                    color: #21873D;
                    font-size: 14;
                    font-style: bold;
                    font-family: "Manrope", sans-serif;
                }
            }
        }
    }

    .last {
        display: flex;
        justify-content: end;
        justify-content: flex-end;

        a {
            margin-top: 16px;
            display: inline-block;
            text-align: right;
            color: var.$main-blue;
            font-style: italic;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .lastRed a {
	    margin-top: 16px;
        display: block;
        text-align: right;
        color: var.$main-red;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
    }
}

.repo-insights {
    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 8px;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 24px;
        color: var.$main-blue;
    }
}

.popup-arrow {
    color: var.$background;
}

.popup-content {
    min-height: 100px;
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    background-color: var.$background;
    box-shadow: var.$box-shadow;
    border-radius: var.$bradius;
}

.language-graph-row {
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: center;

    h4 {
        margin: 0;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        width: 36%;
        text-align: right;
        margin-right: 10px;
    }

    & > div {
        flex-grow: 1;
        display: inline-flex;
        align-items: center;
        height: 30px;

        div {
            height: 4px;
            border-radius: 2px;
            background-color: var.$main-blue;
        }
        
        &:first-child div {
            background-color: var.$main-green;
        }
    }
}
