@use "../../_var.scss" as var;

.review-card-container {
    display: grid;
    grid-template-columns: 412px;
    grid-template-rows: 284px 129px;
    grid-template-areas: "descript" "info";
    box-sizing: border-box;
    border-radius: var.$bradius;
    box-shadow: var.$box-shadow;
    font-family: "Montserrat", sans-serif;
}

.review-card-descript{
    grid-area: descript;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 24px 21px;

   /* rating{
        height: 37;
        width: 269;

    }*/

    h2 {
       // margin-top:16px;
        //margin-left:27px;

        font-size: 102;
        font: "Monteserrat";
        color: #000000;

        span {
            font-size: 100;
            font-style: bold;

        }
    }

    p{
        font-size: 16;
        font: "Monteserrat";
    }
}

.review-card-info{
    grid-area: info;
    background-color: #DDDDDD;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    //padding: 24px 21px;


    p{
        margin-top:16px;
        margin-left:27px;
        color: #057ACE;
        font-size: 16;
        font: "Manrope";
        font-weight: 700;
    }

    .secondT{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        
        padding: 24px, 21px;


        .authorInfo{
            p{
            font: "Manrope";
            font-size: 20;
            color: #000000;
            font-style: bold;
            }

        }

        .topC{
            p{
            color: #21873D;
            font-size: 14;
            font-style: bold;
            font: "Manrope";
            }
        }
    }


    .last{

        a{
        display: block;
        text-align: right;
        color: var.$main-blue;
        font-style: italic;
        font-weight: bold;
        }
    }

    
}

