@use "../../_var.scss" as var;

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 120px;
    width: 100vw;
    box-shadow: var.$box-shadow;
    padding: 21px 40px 21px;
    box-sizing: border-box;

    h1 {
        display: inline-block;
        font-size: 60px;
        margin-top: -6px;
    
        span {
            color: var.$main-blue;
        }
    }
}
.searchBar{
    height: 40px;
    width: 304px;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    background-color:var.$background;
    box-shadow: var.$box-shadow;
    margin-top: 20px;
    margin-right: 40px;

    input{
        padding-top: 8px;
        display: inline-block;
        outline: none;
        border: none;
        background-color: transparent;
        height: 20px;
        border-radius: 10%;
        flex-grow: 1;
        font-family: "Manrope";
        font-size: 18px;
        font-weight: 700;
    }
    svg{
        margin-left: 14px;
        padding-top: 10px;
        display: inline-block;
        height: 20px;
        width: 20px;
        padding-right:5px;
    }
}
#header-links img{
    display: block;
    float:right;
    max-height:100%;
}
#header-links a {
    display: inline-block;
    font-size: 30px;
    line-height: 78px;
    padding-right: 40px;
}

#header-links {
    display: flex;
    justify-content: flex-end;
    justify-content: end;
    
    img{
        display: inline-block;
        height: 100%;
    }

    a {
        display: inline-block;
        vertical-align: top;
        font-size: 30px;
        line-height: 78px;
        padding-right: 40px;
        text-decoration: none;
    }

    #header-submit {
        color: var.$main-green;
        margin-right: 0;
    }
}