@use "../../../_var.scss" as var;

.searchBar{
    height: 40px;
    width: 304px;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    background-color:var.$background;
    // box-shadow: var.$box-shadow;
    margin-top: 20px;
    margin-right: 40px;

    input{
        height: 100%;
        padding-left: 3px;
        display: inline-block;
        outline: none;
        border: none;
        background-color: transparent;
        border-radius: 10%;
        flex-grow: 1;
        font-family: "Manrope";
        font-size: 18px;
        font-weight: 700;
    }
}