@use "../_var.scss" as var;

.Reviews {
  padding-left:  55px;
  padding-top: 0px
}

#review-subject {
  font-family: "Monteserrat", "Manrope";

  h1 {
    font-size: 30px;
    font-family: "Monteserrat";
    color: #000000;
    font-weight: 500;
    
    span {
      font-size:70px;
      font-family: 'Manrope';
      font-weight: 700;
      color: #000000;
    }
  }
}


#review-cards {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}