@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

a:visited {
  color: inherit;
}

body {
  background-color: #eee;
  margin: 0;
  font-family: "Manrope", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
